body{
    background-color: rgb(2, 73, 73);
    font: normal arial 15pt;
}
header{
    text-align: center;

}
section{
    background: azure;
    border-radius: 10px;
    padding: 15px;
    max-width: 550px;
    width: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px gray;

}

#msg{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 20pt;
}

footer{
    font-style: italic;
    font-size: 8pt;
    text-align: center;
}

#foto #img1{ 
    border-radius: 1000px;
    max-width: 550px;
    width: 100%;

}